
strong.title-font {
    font-size: 22px;
    color: black;
}

table{
    width: 90%;
}

table, th, td {
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: 2px solid #ddd;
    border-collapse: collapse;
    padding: 2px;
}

td {
    border-collapse: collapse;
}

tr {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

th {
    border: 2px solid #ddd;
    height: 50px;
    width: auto;
    background-color: #4d94ff;
    color: white;
}

th.for-button{
    width: 10%;
}

.reg-form {
    min-width: 300px;
    padding: 30px;
    background-color: white;
    box-shadow: 3px 3px 10px grey;
    float: none;
    margin: 0 auto;
}

.for-table {
    margin: auto;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.for-table-fields {
    margin: auto;
	padding-top: 10px;
	padding-bottom: 15px;
}

.hide-border {
    border: hidden;
}

.for-field {
    height: 30px;
    width: 300px;
    margin: auto;
    margin-top: 15px;
}

.for-field1 {
    height: 30px;
    width: 140px;
    margin: auto;
    margin-bottom: 15px;
    float: left;
}

.for-field2 {
    height: 30px;
    width: 140px;
    margin: auto;
    margin-bottom: 15px;
    float: right;
}

.for-field3 {
    height: 30px;
    width: 140px;
    margin: auto;
    margin-bottom: 15px;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover {
    background-color: rgb(190, 190, 255);
}

.tr-not-active {
    background-color: rgb(230, 230, 230);
}

.set-standard-color {
    background-color: rgb(238, 238, 238);
}

th.th-size{
    width: 10%;
}

.img-size {
    width: 30px;
    height: 30px;
}

.sizing-between {
    margin: 0;
    margin-bottom: 35px;
}