body, table{
    background-color: rgb(250, 250, 250);
    margin: 0px;
}

table, th, td {
    text-align: center;
    border: 2px solid #ddd;
    border-collapse: collapse;
    width: 35%;
    padding: 4px;
}

td{
    width: auto;
    border-collapse: collapse;
}

tr{
    border-collapse: collapse;
    border: 2px solid #ddd;
}

th {
    border: 2px solid #ddd;
    height: 50px;
    background-color: #4d94ff;
    color: white;
}

.for-table{
    block:fixed;
    margin: auto;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 15px;
}

.for-table-fields{
    margin: auto;
	padding-top: 10px;
	padding-bottom: 15px;
}

.hide-border{
    border: hidden;
}

.for-field{
    height: 30px;
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

.for-field1{
    height: 30px;
    width: 160px;
    margin: auto;
    margin-bottom: 20px;
}

.for-field2{
    height: 30px;
    width: 160px;
    margin: auto;
    margin-bottom: 20px;
}

.tableDiv tr:hover {
    background-color: rgb(204, 204, 255);
}

.set-standard-color{
    background-color: rgb(238, 238, 238);
}

.for-lock-button {
    margin-top: 34%;
}

.td-full{
    padding: 0px;
    margin: 0px;
}

.block-link{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.img-size{
    width: 30px;
    height: 30px;
}

.sizing-between{
    margin: 0px;
    margin-bottom: 35px;
}