#all_kids_table_wrapper {
    margin: 20px;
}

#all_kids_search {
    padding: 10px;
}

#all_kids_add {
    float: right;
    padding-right: 40px;
}

#allkidstable .th {
    cursor: pointer;
}

.table {
    padding: 40px;
}

.thead, .th, .td {
	text-align: left;
    padding: 10px 10px 10px 0px;
}

.thead {
    background-color: #fff;
    color: rgb(158, 158, 158);
}

.thead, .tr {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.tr:hover {
    background-color:  #EEEEEE;
}

.tr, .kid_info {
    background-color: #fff;
}

.tr p {
    margin: 10px 0px 0px;
}

.kid_info {
    padding: 10px 20px;
    margin: 0;
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
