.table {
	padding: 20px;
}

.table tr:nth-child(even){
    background-color: #f2f2f2
}

.table tr:hover {
    background-color:  #D8BFD8
}

table, th, td {
    text-align: center;
     border: 2px solid #ddd;
     border-collapse: collapse;
     width: 40%;
     padding: 10px;
     margin-left: 50px;

 }
 tr{
   border-collapse: collapse;
   border: 2px solid #ddd;
 }


 th {
    border: 2px solid #ddd;
     height: 50px;
 }
 th {
      background-color: #009688;
      color: white;
  }
  caption {
    text-align: center;
    background-color: #009688;
    color: white;
  }