* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;

}
.wrapper {
  display: table;
  height: 100%;
  width:100%
}
.content {
  display: table-row;
  height: 100%;
}
.footer{
  display: table-row;
}

header h1 {
	font-weight: 600;
	margin: 0;
}

header a {
    margin: 20px;
	color: white;
}

header{
	padding: 20px;
	margin-bottom: 40px;
}

body{

}
table, th, td {
	text-align: center;
    border: 2px solid #ddd;
    border-collapse: collapse;
    width: 40%;
    padding: 10px;
    margin-left: 50 px;

}
tr{
	border-collapse: collapse;
	border: 2px solid #ddd;
}
tr:nth-child(even){background-color: #f2f2f2}

tr:hover {background-color:  #D8BFD8}

th {
	 border: 2px solid #ddd;
    height: 50px;
}
th {
    background-color: #6495ED;
    color: white;
}
caption {
	background-color: #6495ED;
	color: white;
}
.table {
	padding: 20px;
}

.parentRow:hover {
cursor: pointer;
}

#validPassword, #validEmail, #validPhone, .error{
    color:red;
}

.required:after {
	content:" *";
	color: red;
}
