.wrapper {
  display: table;
  height: 100%;
  width:100%
}
.content {
  display: table-row;
  height: 100%;
}
.footer{
  display: table-row;
}

.table {
	padding: 20px;
}

.table tr:nth-child(even){
    background-color: #f2f2f2
}

.table tr:hover {
    background-color:  #D8BFD8
}

#validPassword, #validEmail, #validPhone, .error{
    color:red;
}

.required:after {
	content:" *";
	color: red;
}

.btn-primary {
    width: 150px;
    height: 45px;
    font-size: 24;
    margin: 25 auto;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    text-shadow: black;
}

.bottom-msg{
    margin-top: 20px;
}

.navbar-brand{
  font-size: 30;
  padding-bottom: 20px;
}

#topnavbar{
  background-color: #4285F4;
}

header h1 {
   font-weight: 600;
   margin: 0;
 }
 
 header a {
     margin: 20px;
   color: white;
 }
 
 header{
   padding: 20px;
   margin-bottom: 40px;
 }

 table, th, td {
 text-align: center;
     border: 2px solid #ddd;
     border-collapse: collapse;
     width: 40%;
     padding: 10px;
     margin-left: 50 px;
 
 }
 tr{
   border-collapse: collapse;
   border: 2px solid #ddd;
 }
 
 
 th {
    border: 2px solid #ddd;
     height: 50px;
 }
 th {
     background-color: #6495ED;
     color: white;
 }
 caption {
   background-color: #6495ED;
   color: white;
 }