

.table-edit {
    text-align:center;
    margin: auto;
    width: 70%;
    min-width: 900px;
    background-color: white;

}
.tableDiv{
    margin: auto;
    width: 70%;
    min-width: 900px;
    min-height: 400px;
    background-color: white;
    box-shadow: 8px 11px 20px 12px #c8c6d7;
}


.table-edit th, td{
    border: 2px solid #ddd;
    text-align:center;
}
th{
    height: 50px;
    background-color: #4285F4;
}
.validate{
display: none;
color: red;
}

.highlighted-edit {
    background-color: #88D7F1;
}

html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


.highlighted{
        background-color:  #FFFFFF;
}

.highlight-active{
    background-color: #C4DAF4;
}

.highlightedRed {
    background-color: red;
}

.highlight-complet {
    background-color: #C0C0C0;
}
#create-booking-btn{
      width:150px;
      margin-right: 50px;
      float:right;

}
#choose-time-inp{
       width:150px;
       margin-left: 50px;
       margin-top: 20px;
       float:left;

}

#nav-group{
     margin: auto;
     width: 40%;
     margin-top: 20px;
     float:center;
}
#comment{
    font-size: 1.3em;
    color: #9F6000;
}

.leave-time{
     margin-left: 15px;
     margin-right: 15px;

}
.smart-table{
         margin: auto;
         width: 70%;
         min-width: 900px;
         min-height: 400px;
         background-color: white;
         box-shadow: 8px 11px 20px 12px #c8c6d7;
}
