
.table-edit {
    text-align:center;
    margin: auto;
    width: 70%;
    min-width: 900px;
    background-color: white;
    border-top:1px solid #ddd;
    height: 100%;
}

.table-edit tbody td{
    border-top:1px solid #ddd;
}

th{
    text-align:center;
    height: 50px;
    background-color: #4285F4;
}
.validate{
    display: none;
    color: red;
}

.highlighted-edit {
    background-color: #88D7F1;
}

html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;

}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.highlighted{
        background-color:  #FFFFFF;
}

.highlight-active{
    background-color: #85eb6b;
}

.highlightedRed {
    background-color: red;
}

.highlight-complet {
    background-color: #D7D8DA;
}

#create-booking-btn{
      width:120px;
      margin-bottom: 50px;
      display: inline-block;

}

#choose-time-inp{
       width:130px;
       margin-right: 30px;
       margin-top: 20px;
       display: inline-block;
}

#nav-group{
    margin-right: 20px;
     width: 560px;

     float:none;
     background-color: white;
     display: inline-block;
}
.glyphicon-warning-sign{
    font-size: 1.3em;
    color: #9F6000;
}

.leave-time{
     margin-left: 15px;
     margin-right: 15px;
}

.table-edit tr:hover {
    background-color: #adadad;
}

.row{
       margin: auto;
}

#booking-table{
    margin-top: 100px;
    display: inline-block;
    padding-left: 30px;
}

#booking-table_filter {
    padding-right: 45px;
}
#booking-table_wrapper{
    padding-bottom: 10px;
}
#booking-table_info, #booking-table_length {
    text-align: left;
    margin-left:30px;
}
#booking-table_paginate{
    padding-right: 45px;
}

.highlight-row{
    background-color: #bababa;
}

#updatingBooking,#deletingBooking {
    width: 120px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#bookingUpdatingDialog textarea {
    resize : none;
}
#bookingLegendModal [class*="glyphicon-stop"]{
    padding-top: 20px;
    font-size: 50px;
    vertical-align: middle;
}
#bookingLegendModal [class*="modal-footer"]{
    padding-top: 100px;
}
.active{
    color: #85eb6b;;
}
.completed{
    color: #d6d6d6;
}
.selected{
    color: #adadad;
}

.warningBtn{
    width: 120px !important;
}

