
.table-edit {
    text-align:center;
    margin: auto;
    width: 70%;
    min-width: 900px;
    background-color: white;
    border-top:1px solid #ddd;
    height: 100%;
}

.table-edit tbody td{
    border-top:1px solid #ddd;
}

th{
    text-align:center;
    height: 50px;
    background-color: #4285F4;
}
.validate{
    display: none;
    color: red;
}

.highlighted-edit {
    background-color: #88D7F1;
}

html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;

}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.highlighted{
        background-color:  #FFFFFF;
}

.highlight-active{
    background-color: #C4DAF4;
}

.highlightedRed {
    background-color: red;
}

.highlight-complet {
    background-color: #C0C0C0;
}

#create-booking-btn{
      width:150px;
      margin-right: 50px;
      float:right;

}

#choose-time-inp{
       width:150px;
       margin-left: 50px;
       margin-top: 20px;
       float:left;
}

#nav-group{
     margin: auto;
     width: 50%;
     float:center;
     background-color: white;
}
.glyphicon-warning-sign{
    font-size: 1.3em;
    color: #9F6000;
}

.leave-time{
     margin-left: 15px;
     margin-right: 15px;

}

.table-edit tr:hover {
    background-color:  #D7D8DA;
}

.row{
       margin: auto;
}



