.ui-widget-header {
    background-image: none;
    background-color: #2196F3;
    opacity: 0.93;
    color: white;
}
.lableBoard {
    border: 4px double black; /* Параметри границі */
    background: #beccff; /* Колір фону */
    padding: 10px; /* Поле навколо тексту */
}
.btn-edit-event {
    width: 45%;
}
#ui-id-5 {
    text-align: center;
}

