button:focus {
    border: 1pt solid #0000CD !important;

}

a:focus {
    border: 1px groove #4682B4;
}

th:focus {
    border: 1px groove #0000CD;
}

select:focus {
    border: 1pt solid #87CEFA;
}
