

.highlighted1 {
    background-color: #90EE90;
}

.highlightedRed {
    background-color: red;
}

.highlighted2 {
    background-color: #32CD32;
}
.tableDiv{
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    width: 70%;
    min-width: 900px;
    height: 100%;
    text-align: center;
    background-color: white;
    }

     th{
     height: 60px;
     text-align: center;
     }
     tr{
     height: 10px;
          text-align: center;
     }
     td{
          height: 10px;

     }


/* -- AND TABLE   -- */

