

.highlighted {
    background-color: #008000;
}
.tableDiv{
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    width: 70%;
    min-width: 900px;
    height: 100%;
    text-align: center;
    background-color: white;
    }
     th {
        text-align: center;
       }
    .table{
    text-align: center;
    }


/* -- AND TABLE   -- */

