.list{
    text-align: center;
    width: 40%;
    min-width: 350px;
    margin: 0px auto;    
}

.kidslistitem{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: black;
}

.kidslistblock{
    cursor: pointer;
    background-color: white;
    border:  1px solid transparent;
    width: 70%;
    min-width: 200px;
    margin: 25 auto;
    padding-bottom: 25;
    padding-top: 0;
    text-align:center;
    box-shadow: 5px 5px 20px grey;

}

.kidslistblock:hover{
    background-color: #4285F4;
}

.kidslistblock:hover .kidslistitem{
    color: white;
}

.kidinfo {
    border-radius: 40px;
   display: none;
   padding: 5px;
   margin: 0 auto;
   height: 20%;
   font-size: 15px;
   line-height: 1.428571429;
   width: 80%;
   max-width: 210px;
   background-color: #ffA1DD;
}

.btn.glyphicon {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
}
.btn.glyphicon::first-letter {
    font-family: 'Glyphicons Halflings';
    line-height: 1;
}

.btn-primary{
    height: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
