.kidslistitem{
    cursor: pointer;
    padding: 0;
    margin: 0;
     font-size: 18px;
     line-height: 28px;
     color: white;
}

.kidslistblock{
    background-color: #4285F4;
    border:  1px solid #4285F4;
    width: 70%;
    min-width: 200px;
    margin: 25 auto;
    padding-bottom: 25;
    padding-top: 0;

    text-align:center;
}

.kidinfo {
   display: none;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 15px;
   line-height: 1.428571429;
   width: 80%;
   margin: 20 auto;
   background-color: #BBDEFB;
}

.list{
    text-align: center;
    background-color: white;
    border: 1px solid #4285F4;
    border-left: 5px solid #4285F4;
    border-right: 5px solid #4285F4;
    border-bottom: 5px solid #4285F4;
    width: 30%;
    min-width: 350px;
    margin: 0px auto;
    
}


.btn.glyphicon {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
}
.btn.glyphicon::first-letter {
    font-family: 'Glyphicons Halflings';
    line-height: 1;
}

.btn-primary{
    width: 40%;
    height: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
