form.registerkid {
				padding: 30px;
				border: 2px solid grey;
				margin: 20px auto;
				width: 20%;
				min-width: 400px;
				border-radius: 10px;
				text-align: center;
			}

form.registerkid h2{
			margin-top: 0;
			margin-bottom: 25px;
			text-align: center;
		}
form.registerkid label {
  			display: block;
 			margin-bottom: 8px;
			}

form.registerkid .required:after {
				content:" *";
				color: red;
			}


form.registerkid input, textarea{
    text-align: center;
    width:100%;
}

#submit{
                text-align: center;
				width:20%;
				min-height: 40px;
				margin: 0 auto;
			}

#foot{text-align: center;
				font-style:italic;}
	}

.col-sm-4{
margin: 0 auto;
}

.removekidmsg{
    margin-top: 15px;
}

.explanation:before{
    content: "* ";
    color: red;
}