form {
				padding: 50px;
				border: 10px solid #4285F4;
				border-radius: 10px;
				margin: 20px auto;
				width: 40%;
				min-width: 400px;
				text-align: center;
			}

form h2{
			margin-top: 0;
			margin-bottom: 25px;
			text-align: center;
		}
form label:content {
  			display: block;
 			margin-bottom: 8px;
 			color: black;
			}

form .required:after {
				content:" *";
				color: red;
			}


input, textarea, label{
    text-align: center;
    width:100%;
}

#submit{
                text-align: center;
				width:20%;
				min-height: 40px;
				margin: 0 auto;
			}

#foot{text-align: center;
				font-style:italic;}
	}

.col-sm-4{
margin: 0 auto;
}

.removekidmsg{
    margin-top: 15px;
}

.explanation:before{
    content: "* ";
    color: red;
}