.exportButton {
    width: 200px;
}

.tableDiv tr:nth-child(even){
    background-color: #f2f2f2;
}

.tableDiv tr:hover {
    background-color: #D8BFD8
}

.parent:hover {
    cursor: pointer;
}

.captionBottom {
     caption-side: bottom;
}

caption h2  {
    text-align: center;
}

#date {
    font-size: 18px;
}

#startDateDiv, #endDateDiv, .tableDiv, #generateButton, #exportButton, #parentDetails, #statistics {
    margin: 10px auto;
}

.tableDiv {
    width: 715px;
}
#startDateDiv, #endDateDiv {
    width: 290px;
}

#generateButton {
    width: 80px;
}

#exportButton {
    width: 205px;
}