#dateThenDiv, #dateNowDiv, .tableDiv, #generateButton, .exportButton {

}

.exportButton {
    width: 200px;
}

.tableDiv tr:nth-child(even){
    background-color: #f2f2f2;
}

.tableDiv tr:hover {
    background-color: #D8BFD8
}

.parentRow:hover {
    cursor: pointer;
}

.captionBottom {
     caption-side: bottom;
}

caption h2  {
    text-align: center;
}

#date {
    font-size: 18px;
}

#dateThenDiv, #dateNowDiv, .tableDiv, #generateButton, #exportButton, #parentDetails, #generated, #statistics {
    margin: 10px auto;
}

.tableDiv {
    width: 580px;
}
#dateThenDiv, #dateNowDiv {
    width: 290px;
}

#generateButton {
    width: 80px;
}

#exportButton {
    width: 205px;
}

#parentDetails {
    width: 520px;
}

#generated {
    width: 385px;
}

#statistics {
    width: 403px;
}