
Configuration edit s*.class

/target/
WebContent/


.idea
*.jar
*.war
*.ear
.classpath
.project
.settings/
KidsRoom.iml
SpringMVC.iml
main.iml
hibernate.properties
/src/main/resources/hibernate.properties
.gitignore