
Configuration edit s*.class

/target/
WebContent/


.idea
*.jar
*.war
*.ear
.classpath
.project
.cfs
.settings/
KidsRoom.iml
SpringMVC.iml
main.iml
src/main/resources/properties/hibernate.properties
src/main/resources/import.sql
.gitignore