<html>
    <body>
        <h3>Hello, ${user.firstName}, welcome to the KidsRoom service!</h3>
        <div>
            To confirm your email address click this <a href="${link}"> link</a>
            If you don't know what about this message - please ignore it
        </div>
    </body>
</html>