<body ng-app="myApp">

<div ng-controller="DayOffController as ctrl">
    <table class="table table-striped days-off" xmlns:spring="http://jboss.org/xml/ns/javax/validation/mapping">
        <thead>
        <tr class="hide-border">
            <th colspan="7" class="set-standard-color">
                <legend class="for-table"><strong class="title-font">
                    <spring:message code="administrator.daysOff"/>
                </strong></legend>
            </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Start day</th>
            <th>End day</th>
            <th>Rooms</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="day in ctrl.daysOff">
            <td><span editable-text="day.name" e-name="name" e-form="rowform" onbeforesave="checkName($data)"
                      e-required e-placeholder="Enter day off name">
                {{day.name}}
                </span>
            </td>
            <td><span e-form="rowform">{{day.startDate}}</span></td>
            <td><span e-form="rowform">{{day.endDate}}</span></span></td>
            <td><span e-form="rowform">{{day.rooms}}></span></td>
            <td style="white-space: nowrap">
                <form shown="false" editable-form name="rowform" onbeforesave="updateDay($data, day.id)" ng-show="rowform.$visible"
                       class="form-buttons form-inline ng-hide">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-cancel">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show(); ctrl.edit(day.id)">edit</button>
                    <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="addDayOff()">Add</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script type="text/javascript" src='resources/js/xeditable.js'></script>
<script type="text/javascript" src='resources/js/day_off_app.js'></script>
<script type="text/javascript" src='resources/js/day_off_service.js'></script>
<script type="text/javascript" src='resources/js/day_off_controller.js'></script>

</body>

