<body ng-app="myApp" xmlns:spring="http://jboss.org/xml/ns/javax/validation/mapping">

<div ng-controller="DayOffController as dayCtrl">
    <div class="hide-border set-standard-color day-off-label">
            <legend class="for-table"><strong class="title-font">
                <spring:message code="administrator.daysOff"/>
            </strong></legend>
    </div>
    <div class="days-off">
        <button class="btn btn-success" ng-click="createDay()"><spring:message code="administrator.add"/></button>
    </div>
    <table class="table table-striped days-off" xmlns:spring="http://jboss.org/xml/ns/javax/validation/mapping">
        <thead>
        <tr>
            <th><spring:message code="administrator.day.name"/></th>
            <th><spring:message code="administrator.day.start"/></th>
            <th><spring:message code="administrator.day.end"/></th>
            <th><spring:message code="administrator.listRooms"/></th>
            <th><spring:message code="administrator.day.actions"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="day in dayCtrl.daysOff">
            <td><span editable-text="day.name" e-name="name" e-form="rowform" onbeforesave="checkName($data)"
                      e-required e-placeholder="Enter day's off name">
                {{day.name}}
                </span>
            </td>
            <td><span e-form="rowform">{{day.startDate | date:'yyyy-MM-dd'}}</span></td>
            <td><span e-form="rowform">{{day.endDate | date:'yyyy-MM-dd'}}</span></span></td>
            <td><span editable-checklist="room.name" e-name="room.name" e-form="rowform" e-ng-options="s as s.text for s in rooms">
                {{showAllRooms()}}
            </span></td>
            <td style="white-space: nowrap">
                <form editable-form name="rowform" onaftersave="updateDay(day)" ng-show="rowform.$visible"
                      class="form-buttons form-inline ng-hide" shown="inserted == day">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                        <spring:message code="administrator.save"/>
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); checkForData(day)"
                            class="btn btn-default btn-cancel">
                        <spring:message code="administrator.canc"/>
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-success" ng-click="rowform.$show(); edit(day.id)"><spring:message code="administrator.edit"/></button>
                    <button class="btn btn-danger" ng-click="deleteDay(day.id, $index)"><spring:message code="administrator.del"/></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src='resources/js/checklist-model.js'></script>
<script type="text/javascript" src='resources/js/xeditable.js'></script>
<script type="text/javascript" src='resources/js/day_off_app.js'></script>
<script type="text/javascript" src='resources/js/day_off_service.js'></script>
<script type="text/javascript" src='resources/js/day_off_controller.js'></script>


</body>

