<div class="span4">
    <div id="all_kids_search" class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchField"
            ng-change="searchChildren(searchField)">
    </div>
</div>

<div id="all_kids_add" class="input-group">
    <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>

<div class="table" id="allkidstable">

    <div class="thead row-fluid">

        <div class="th span1"></div>
        <div class="th span3">Parents Name</div>
        <div class="th span3">Kid Name</div>
        <div class="th span3">Age</div>

    </div>

    <div id="all_kids_new_child_row" ng-if="newChildFormIsShown">
        <div class="tr row-fluid accordion-toggle">

            <div class="td span1"></div>

            <div class="td span3">
                <p>
                    <input class="form-control" type="text">
                </p>
            </div>

            <div class="td span3">
                <p>
                    <input class="form-control" type="text">
                </p>
            </div>

            <div class="td span3">
                <p><input class="form-control" type="text"></p>
            </div>

            <div class="td span2">
            </div>

        </div>

        <div class="kid_detailed_info row-fluid">

            <div class="span1"></div>
            <div class="span9">
                <div class="span6 kid_info">
                    <div>
                        <div class="span2">
                            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        </div>
                        <div class="right-align">
                            <p>
                                <input class="form-control" type="text">
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="span24">
                            <i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>
                                <input class="form-control" type="text">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="table-data" ng-repeat="child in children">

        <div class="tr row-fluid accordion-toggle">

            <div class="td span1">
                <button type="button" id="{{'collapse-button-' + $index}}"
                        class="btn btn-default"
                        data-toggle="collapse"
                        data-target="#{{ 'kidcollapse' + $index }}"
                        ng-click="toggleCollapseButton('collapse-button-' + $index)">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </button>
            </div>

            <div class="td span3">
                <p>
                    {{ child.fullName }}
                </p>
            </div>

            <div class="td span3">
                <p>
                    {{ child.fullName }}
                </p>
            </div>

            <div class="td span3">
                <p>{{child.dateOfBirth}}</p>
            </div>

            <div class="td span2">
                <a href="{{'./profile?id=' + child.id}}">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                </a>
            </div>

        </div>

        <div ng-attr-id="{{ 'kidcollapse' + $index }}"
             class="kid_detailed_info row-fluid collapse out">

            <div class="span1"></div>
            <div class="span9">
                <div class="span6 kid_info">
                    <div>
                        <div class="span2">
                            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        </div>
                        <div class="right-align"><p>Hello</p></div>
                    </div>
                    <div>
                        <div class="span24">
                            <i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p>
                                {{ child.comment }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
