<div class="span4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchField"
            ng-change="searchChildren(searchField)">
    </div>
</div>
<div class="table" id="allkidstable">
    <div class="thead row-fluid">
        <div class="th span1 checkbox"><label><input checked="" type="checkbox"></label></div>
        <div class="th span3">Parents Name</div>
        <div class="th span3">Kid Name</div>
        <div class="th span3">Age</div>
    </div>
    <div ng-repeat="child in children">
        <div class="tr row-fluid accordion-toggle" ng-class="{table_even_element: isIndexEven($index)}"
             data-toggle="collapse" data-target="#{{ 'kidcollapse' + $index }}">
            <div class="td span1 checkbox form-group"><input checked="" type="checkbox"></div>
            <div class="td span3">
                <a href="#">{{child.firstName}} {{child.lastName}}</a>
            </div>
            <div class="td span3">
                <a href="#">{{child.firstName}} {{isIdEven($index)}} {{child.lastName}}</a>
            </div>
            <div class="td span3">
                {{child.dateOfBirth}}
            </div>

        </div>
        <div ng-attr-id="{{ 'kidcollapse' + $index }}" class="kid-detailed-info row-fluid collapse out"
             ng-class="{table_even_element: isIndexEven($index)}">
            <div class="span1"></div>
            <div class="span9">
                <div class="span4">
                    <h4>Phone</h4>
                    <p style="float: right">
                        <a href="#">Hello</a>
                    </p>
                    <br>
                    <h4>Comment</h4>
                    <p style="float: right">
                        <a href="#">Hello</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
