<table class="table table-striped days-off" xmlns:spring="http://jboss.org/xml/ns/javax/validation/mapping">
    <thead>
    <tr class="hide-border">
        <th colspan="7" class="set-standard-color">
            <legend class="for-table"><strong class="title-font">
                <spring:message code="administrator.daysOff"/></strong></legend>
        </th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Start day</th>
        <th>End day</th>
        <th>Rooms</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Sant Micolaus Day</td>
        <td>18.12.16</td>
        <td>19.12.16</td>
        <td>Room</td>
    </tr>
    <tr>
        <td>SoftServe birthday</td>
        <td>12.06.16</td>
        <td>12.07.16</td>
        <td>Room</td>
    </tr>
    <tr>
        <td>FreeDom party ultra check performance boost</td>
        <td>16.16.16</td>
        <td>16.16.16</td>
        <td>Room</td>
    </tr>
    </tbody>
</table>